body {
    overflow: hidden;
}

.heading {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.md-modal__title {
    font-size: larger;
}

.btn {
    float: right;
    margin-top: 20px;
    margin-right: 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    margin: 8px;
    margin-left: 30px;
}

.input {
    margin-right: -25px;
    margin-left: 120px;
    margin-bottom: auto;
    width: 60.5%;
}

.start-date {
    margin-left: 80px;
}

.end-date {
    margin-left: 88px;
}

.desc {
    margin-left: 5px;
}

.des {
    width: 70%;
    margin-bottom: -2px;
    margin: 0 0 -2px 71px;
}

.select {
    margin-left: 117px;
    width: 62%;
    margin-bottom: 2px;
}

.type {
    margin-top: -5px;
    margin-left: -3px;
}
