.heading {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.btn {
    float: right;
    margin-top: 20px;
    margin-right: 90px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    margin: 20px;
    margin-left: 20px;
}

.input {
    margin-right: -20px;
    margin-left: 120px;
    margin-bottom: auto;
    width: 60%;
}

.start-date{
    margin-left: 80px;
}

.end-date {
    margin-left: 90px;
}

